{% load static %}
{% load bootstrap4 %}
{% include 'header.html' %}
<style>
 .input-group-btn button {
    border-radius:0 5px 5px 0;
    height:40px;
 } 
 .qcreate {
     font-weight: bold;
 }  

 .card {
     margin-bottom:30px;
 }

 .card-header {
     cursor:pointer;
 }

 #advanced .row {
     margin-bottom: 20px;
 }

 h1 {
     padding:20px 0;
     text-align:center;
     background: #cccccc;
     margin-bottom:50px;
 }
</style>
<h1>Question Editor</h1>
<div class="container masthead text-center">
    {% include 'examcreator/questionform.html' %}
</div>
<div style="height:30px;"></div>

{% include 'footer.html' %}
</body>
</html>