{% load static %}
{% load bootstrap4 %}
{% include 'header.html' %}
<style>
 .input-group-btn button {
    border-radius:0 5px 5px 0;
    height:40px;
 } 
 .qcreate {
     font-size:1.5em;
     margin:0;
     padding:0;
 }  
 .card {
     margin-bottom:30px;
 }

 .card-header {
     cursor:pointer;
 }

 #advanced .row {
     margin-bottom: 20px;
 }
 #questions_wrapper {
     margin-bottom: 30px;
 }
 .topheading {
        text-align: center;
        padding:30px;
        background-color: #dddddd;
        margin-bottom: 30px;
    }

img.questionpic {
    width:100px;
    height:75px;
    object-fit: cover;
    max-width:100px;
}

.questiontext {
    width:500px;
}

.leaderboardbtn {
    width:50px;
    height:50px;
    transition:0.2s;
    -webkit-transition: 0.2s; /* Safari */
}

.editbtn {
    width:25px;
    margin-top:12px;
    transition:0.2s;
    -webkit-transition: 0.2s; /* Safari */
}

.leaderboardbtn:hover, .editbtn:hover {
    transform:scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
}

#typeselect {
  margin-left:20px;
}

.qchoice {
    margin-top:9px;
    margin-left: 3px;
}

</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
<div class="masthead">
<div class="container-fluid topheading">
        <h1 style="text-align: center; margin:10px auto;">Question Manager</h1>
        <p>Total Questions: <span id="count"></span></p> 
        <div class="form-inline justify-content-center">
            <label for="typeselect">Filter by Question Type: </label>
            <select class="form-control" id="typeselect">
                <option value="">All Types</option>
                {% for q in qtypes %}
                <option value="{{q.0}}">{{q.1}}</option>
                {% endfor %}
            </select>
        </div>
</div>
<div class="container text-center">
    <div id="qform" class="card mb-12 bg-dark text-white">
        <div class="card-header" id="createquestion" role="button" data-toggle="collapse" data-target="#createquestionform" aria-expanded="true" aria-controls="createquestionform">
            <p class="qcreate">Create a new question</p>
        </div>
        <div id="createquestionform" class="collapse" aria-labelledby="createquestion" data-parent="#accordion">
            <div class="card-body">
                {% include 'examcreator/questionform.html' %}
            </div>
        </div>
    </div>
    <table id="questions" class="table table-responsive-sm table-responsive-md">
        <thead>
            <tr>
            <th>Type</th>
            <th class="questiontext">Question</th>
            <th>Code</th>
            <th>Date Created</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for question in object_list %}
            <tr>
            <td data-search="{{question.question_type}}"><img class="questionpic img-thumbnail" src="{{question.picture.url}}" alt="{{question.question_type}}"/></td>
            <td>{{question}}</td>
            <td>{{question.code}}</td>
            <td>{{question.date_created}}</td>
            <td>
                <div class="d-flex flex-row justify-content-center">
                        <a class="p-2" href="{% url 'leaderboard' question.id %}"><img class="leaderboardbtn" src="{% static "images/leaderboard.svg" %}"></a>
                        <!-- <a href="{% url 'delete' question.id %}"><button class="btn btn-danger">Delete</button></a> -->
                        <a class="p-2" href="{% url 'updatequestion' question.id %}"><img class="editbtn" src="{% static "images/edit.svg" %}"></a>
                        <button type="button" class="p-2 close" onclick="deletequestion({{question.id}}, this)">&times;</button>
                </div>
                    
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>       
</div>
</div>
{% include 'footer.html' %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
<script>
    var mytable;
    var updatecounts = function() {
        var data = mytable.rows({ filter: 'applied' }).data();
        $('#count').text(data.length);
      }

    var deletequestion = function(qid, btn) {
        if (confirm("are you sure you want to delete this question?")) {
            $.getJSON('/questionmanager/del/' + qid, function (data) {
                if (data["status"] != "OK") {
                    alert(data["status"]);
                } else {
                    var chosenAttemptRow = $(btn).parents('tr')
                    mytable.row(chosenAttemptRow).remove().draw();
                }
            })
        }
    }
    $(document).ready(function() {
        $('form')[0].reset();
        mytable = $('#questions').DataTable({
                lengthMenu: [
                    [ 25, 50, 100, -1 ],
                    [ '25', '50', '100', 'All' ]
                ],
                buttons: [
                    'pageLength'
                ]
            });
        $('#count').text(mytable.data().length);
        $('#typeselect').change(function () {
            mytable.column(0).search($(this).val()).draw();
        })
        mytable.on('search.dt', function () {
          updatecounts();
        });
    } );
</script>
</body>
</html>